# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
smartParkClient/
smartParkCL/
myApp/
OTHER/
smartParkV1.1/
OTHER/smartParkV1/
smartParkV1/
SMARTPARKv2/
SERVER/
backup.js
backup2.js
backupTavor.js
inbarSP
*.inbar

SmartParkV1.3/bower/*

SmartParkV1.3/*/bower.json

SmartParkV1.3/www/bower_components/*

SmartParkV1.3/www/img/adam.jpg

SmartParkV1.3/www/img/ben.png

SmartParkV1.3/www/img/max.png

SmartParkV1.3/www/img/mike.png

SmartParkV1.3/www/lib/*

SmartParkV1.3/bower.json
SmartParkV1.3/.editorconfig
SmartParkV1.3/.editorconfig
SmartParkV1.3/.bowerrc
SmartParkV1.3/.editorconfig
SmartParkV1.3/hooks/after_prepare/010_add_platform_class.js
SmartParkV1.3/hooks/README.md
