# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/


OTHER/
SERVER/
SmartParkV1.3/www/bower_components/*

SmartParkV1.3/www/lib/*

SmartParkV1.3/bower.json
SmartParkV1.3/.editorconfig
SmartParkV1.3/.bowerrc
SmartParkV1.3/hooks/
