# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
smartParkClient/
smartParkCL/
myApp/
OTHER/
smartParkV1.1/
OTHER/smartParkV1/
smartParkV1/
SMARTPARKv2/
SERVER/
backup.js
backup2.js
backupTavor.js
inbarSP
*.inbar
