<ion-view title="SMARTPARK-OUT" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="sMARTPARKOUT-form2" class="list">
      <label class="item item-input calm" id="sMARTPARKOUT-input9">
        <span class="input-label">Date</span>
        <input type="text" placeholder="Choose a date">
      </label>
      <label class="item item-input" id="sMARTPARKOUT-input10">
        <span class="input-label">Time</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="sMARTPARKOUT-input11">
        <span class="input-label">Street</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="sMARTPARKOUT-input12">
        <span class="input-label">No.</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="sMARTPARKOUT-input13">
        <span class="input-label">City</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-select" id="sMARTPARKOUT-select3" name="size">
        <span class="input-label">Size</span>
        <select>
          <option>2-3 cubes</option>
          <option>3-4 cubes</option>
          <option>4-5 cubes</option>
          <option>5-6 cubes</option>
          <option>6+ cubes</option>
        </select>
      </label>
      <label class="item item-select" id="sMARTPARKOUT-select4" name="maxWait">
        <span class="input-label">Max wait time</span>
        <select>
          <option>1 min</option>
          <option>3 min</option>
          <option>5 min</option>
          <option>10 min</option>
          <option>20 min</option>
          <option>flexable</option>
        </select>
      </label>
      <label class="item item-input" id="sMARTPARKOUT-textarea3">
        <span class="input-label">Comments</span><textarea placeholder=""></textarea></label>
      <ion-checkbox id="sMARTPARKOUT-checkbox3">Repeat</ion-checkbox>
      <ion-checkbox id="sMARTPARKOUT-checkbox4">Handicap</ion-checkbox>
      <div id="sMARTPARKOUT-button-bar5" class="button-bar">
        <a ui-sref="menu.sMARTPARK" id="sMARTPARKOUT-button24" style="color:#3A3F51;border-radius:50px 50px 50px 50px;" class="button button-dark  button-block button-outline icon-left ion-android-cancel">Cancel</a>
        <button id="sMARTPARKOUT-button25" style="color:#2ABDEB;border-radius:50px 50px 50px 50px;" class="button button-calm  button-block button-outline icon ion-android-send">Send</button>
      </div>
    </form>
  </ion-content>
</ion-view>