<ion-view id="page10" ng-init="init()" class="maps-bg">
	<ion-nav-title>
		<span class="calm">[</span> ABOUT
		<span class="calm">]</span>
	</ion-nav-title>
	<ion-content class="has-header padding fade-bg" scroll="false">
		<div class="list" style="opacity:0.9; ">
			<div class="item item-divider">
				Our Mission
			</div>
			<a class="item" >
    			<p>
    				SmartPark offers its services for anyone wishing to enjoy a convenient and free parking.<br\>
					The big problem of the current century is finding parking in major cities.<br\>
					The system offers to share parking spaces that will be released in the near future and publishes it in real time to users who are looking for parking.<br\>
					Each one can reserve parking on the click from the smartphone and save valuable time while significantly lowering parking costs.
    			</p>
			</a><br/><br/>

			<div class="item item-divider">
				About Us
			</div>
			<a class="item" >
    			<p>
    			This application was built as part of a final project in the Department of Software Engineering, Shenkar College - Ramat Gan. <br/>
				The students are:<br/>
    			Inbar Takdim - inbarytk@gmail.com <br/>
    			Tavor Cohen - tavorcoh@gmail.com <br/>
    			David Avigad - david.avigad@gmail.com
    			</p>
			</a>
		</div>
	</ion-content>
</ion-view>
