<ion-view id="page10" ng-init="init()" class="maps-bg">
	<ion-nav-title>
		<span class="calm">[</span> ABOUT
		<span class="calm">]</span>
	</ion-nav-title>
	<ion-content class="has-header padding fade-bg" scroll="false">
		<div class="list" style="opacity:0.9;">
			<div class="item item-divider">
				About SMART[PARK]
			</div>
			<a class="item">
    			To report - enter the "OUT" form and fill out the outgoing parking spot details.<br/> For each report that helped a user, you'll get one SMARTIE!
			</a>
		</div>
	</ion-content>
</ion-view>
