<ion-view class="maps-bg">
	<ion-nav-title align-title="center">
		<span class="calm">[</span> SMARTIES
		<span class="calm">]</span>
	</ion-nav-title>
	<ion-content class="padding has-header fade-bg">
		<div class="calm-bg stable dark-border">
			<div class="col text-center cyan">
				<h4 class="padding"><small>Need</small>
				<span class="dark">[ </span>SMARTIES<span class="dark"> ]</span> ?</h4>
				<h5><i class="icon dark">#</i>
					Current:
					<span class="dark">{{currentSmarties}}</span>
				</h5>
			</div>
		</div>
		<div id="buySmarties" class="card rounded">
			<a ng-class="push(choice1)" ng-click="choice1=!choice1">
			    <i class="icon ion-card"></i>
			    Enter card information
			</a>
			<div ng-show="choice1" class="top-border-rounded">
				<label class="item item-input">
					<span class="input-label">Card number</span>
					<input type="text" size="20" ng-model="FormData.number" placeholder="xxxx-xxxx-xxxx-xxxx" required/>
				</label>

				<label class="item item-input">
					<span class="input-label">Exp. Mth (MM)</span>
					<input type="text" size="2" ng-model="FormData.exp_month"/ placeholder="MM" required>
				</label>

				<label class="item item-input">
					<span class="input-label">Exp. Year (YYYY)</span>
					<input type="text" size="4" ng-model="FormData.exp_year"/ placeholder="YYYY" required>
				  </label>

				<label class="item item-input">
					<span class="input-label">Sec. Code (CVC)</span>
					<input type="text" size="4" ng-model="FormData.cvc"/ placeholder="123" required>
				</label>
				<div class="padding center" id="pay">
					<button class="button button-block button-balanced" ng-click="createToken(); choice1=!choice1">Submit</button>
				</div>
			</div>
		</div>

		<div class="card rounded">
			<a ng-class="push(choice2)" class="top-border-rounded" ng-click="choice2=!choice2">
			    <i class="icon ion-bag"></i>
			    Add to PayPal cart
			 </a>
			<div ng-show="choice2">
				<label class="item item-input item-select">
						<div class="input-label">
						  Quantity:
					  	</div>
						<select ng-model="paymentQuantity" required>
			 							<option value="1 SMARTIES" value="2.00" selected>1 for $2.00 USD</option>
			 							<option value="2 SMARTIES" value="3.00">2 for $3.00 USD</option>
			 							<option value="5 SMARTIES" value="2.00">5 for $6.00 USD</option>
			 							<option value="10 SMARTIES" value="2.00">10 for $12.00 USD</option>
			 							<option value="15 SMARTIES" value="2.00">15 for $14.00 USD</option>
			 							<option value="20 SMARTIES" value="2.00">1 for $17.00 USD</option>
			 			</select>
					</label>
				<label class="item text-center">
				<div id="paypal-button-container" class="pay"></div>
			</div>
		</div>
	</ion-content>
</ion-view>
