<ion-view id="page10" class="maps-bg">
	<ion-nav-title>
		<span class="calm">[</span> HELP
		<span class="calm">]</span>
	</ion-nav-title>
	<ion-content class="padding has-header fade-bg" scroll="false">
		<div class="list" style="opacity:0.9;">
			<div class="item item-divider">
				Reporting
			</div>
			<a class="item">
		    	To report - enter the "OUT" form and fill out the outgoing parking spot details.<br/> For each report that helped a user, you'll get one SMARTIE!
		  	</a>
			<div class="item item-divider">
				Searching
			</div>
			<a class="item">
		    	To search - enter the "IN" form and fill out when and where you would like to partk and you'll receive a map with suggested parking spots, pick one up by clicking it.<br/> One search deducts a SMARTIE.
		  	</a>
		</div>
	</ion-content>
</ion-view>
