<ion-view title="HELP" id="page10" ng-init="init()">
	<ion-content padding="true" class=" manual-remove-top-padding has-header" scroll="false">
		<h1>HELP</h1>
		<h2>Reporting</h2>
		<p>To report - enter the "OUT" form and fill out the outgoing parking spot details.<br/> For each report that helped a user, you'll get one SMARTIE!</p>
		<h2>Searching</h2>
		<p>To search - etner the "IN" form and fill out when and where you would like to partk and you'll receive a map with suggested parking spots, pick one up by clicking it.<br/> One search deducts a SMARTIE.
	</ion-content>
</ion-view>
