<ion-view id="page10" class="maps-bg">
	<ion-nav-title align-title="center">
		<span class="calm">[</span> HELP
		<span class="calm">]</span>
	</ion-nav-title>
	<ion-content class="padding has-header fade-bg no-wrap">
		<div class="list">
			<div class="item item-divider text-center">
				<h2 class="calm">POST <small>SMART<span class="calm">[</span>PARK<span class="calm">]</span></small></h2>
			</div>
			<div class="item">
				<p class="item">
					You can either click on the side menu button on top or click <span class="calm">'OUT'</span> from the home screen. Please fill out all relevant parking details souch as date & time, location, size and other notes. When done click <span class="calm">'DONE'</span>.
					The system will store the parking information and it will be available to other users who interested in it. If someone will catch the <span class="calm">SMARTPARK</span> you have published and confirm that the details were indeed correct, you'd earn
					a <span class="calm">SMARTIES</span>!
				</p>
			</div>
		</div>
		<div class="list padding-bottom">
			<div class="item item-divider text-center">
				<h2 class="calm">CATCH <small>SMART<span class="calm">[</span>PARK<span class="calm">]</span></small></h2>
			</div>
			<div class="item">
				<p class="item">
					You can either click on the side menu button on top or click <span class="calm">'IN'</span> from the home screen. Please fill out all relevant parking details souch as date & time, location and distance. You can filter your search by size or handicapped
					parking. When done click <span class="calm">'DONE'</span>. The system will take you to a new screen where you will be presented with all available parking at your request.<br/> You can reserve parking by clicking on the it. When the time comes to
					park, the system will sent a disclaimer and verify the <span class="calm">SMARTPARK</span>. In order to apply the search you'd pay 1 <span class="calm">SMARTIES</span>!
				</p>
			</div>
		</div>
	</ion-content>
</ion-view>
