<ion-view class="maps-bg">
	<ion-nav-title align-title="center">
		<span class="calm">[</span> IN
		<span class="calm">]</span>
	</ion-nav-title>
	<ion-content padding="true" class="has-header fade-bg">
		<div id="wraper">
			<form id="in-form10" class="list form-tamplate">
				<label class="item item-select top-border-rounded" id="in-select4" name="distance">
        			<span>
						<span class="calm">[</span>
						<b> Distance </b>
					</span>
			        <select class="distance-select" ng-model="booking.distance">
			            <option>0.1 km</option>
			            <option>0.2 km</option>
			            <option>0.3 km</option>
			            <option>0.4 km</option>
			            <option>0.5 km</option>
			            <option>0.6 km</option>
			            <option>0.7 km</option>
			            <option>0.8 km</option>
			            <option>0.9 km</option>
			            <option>1 km</option>
			            <option>2 km</option>
			        </select>
			     </label>
				<label class="item item-input" id="in-select6" name="date">
			        <span class="input-label">
						<span class="calm">[</span>
						<b> Date</b>
					</span>
			        <input type="date" id="out-select6" name="date" ng-model="time.d"  placeholder="yyyy-MM-dd" min="2017-01-01" max="2019-12-31" required />
			    </label>
				<label class="item item-input btm-border-rounded" id="in-select7" name="time">
        			<span class="input-label">
						<span class="calm">[</span>
						<b> Time</b>
					</span>
        			<input type="time" id="out-select7" name="time" placeholder="HH:MM" ng-model="time.t" required />
      			</label>
				<a ui-sref="menu.selectionMap" id="locationButton" class="button button-dark button-small button-block icon ion-android-locate"> Choose location...</a>
				<label class="item item-input top-border-rounded" id="in-input10" name="street">
        			<span class="input-label">
						<span class="calm">[</span>
						<b> Street</b>
					</span>
        			<input type="text" placeholder="Auto" ng-model="booking.location.street" disabled>
      			</label>
				<label class="item item-input" id="in-input11" name="number">
	        		<span class="input-label">
						<span class="calm">[</span>
						<b> Number</b>
					</span>
	        		<input type="text" placeholder="Auto" ng-model="booking.location.number" disabled>
      			</label>
				<label class="item item-input" id="in-input12" name="city">
        			<span class="input-label">
						<span class="calm">[</span>
						<b> City</b>
					</span>
        			<input type="text" placeholder="Auto" ng-model="booking.location.city" disabled>
      			</label>
				<label class="item item-input btm-border-rounded" id="in-input13" name="country">
        			<span class="input-label">
						<span class="calm">[</span>
						<b> Country</b>
					</span>
        			<input type="text" placeholder="Auto" ng-model="booking.location.country" disabled>
      			</label>
				<div class="lightTitle text-center">
					<span class="calm">[ </span>Optional:<span class="calm"> ]</span>
				</div>
				<div class="item item-input-inset top-border-rounded bold stable-bg" id="out-select8" name="size">
					<span class="title">
							<span class="calm">[</span> Size
					</span>
					<label>
							<img src="img/cars/small_car.png" />
					</label>
					<input type="radio" ng-model="booking.size" value="0">
					<label>
						<img src="img/cars/medium_car.png" />
					</label>
					<input type="radio" ng-model="booking.size" value="1">
					<label>
							<img src="img/cars/large_car.png" />
					</label>
					<input type="radio" ng-model="booking.size" value="2">
				</div>
				<div class="item item-input bold stable-bg btm-border-rounded" id="out-textarea2" name="comments">
					<span class="calm">[ </span>&nbsp;Handicapped
					<ion-checkbox id="out-checkbox2" name="handicapped" ng-model="booking.handicapped" style="border:0px;"></ion-checkbox>
				</div>
				<!-- <ion-toggle toggle-class="toggle-positive" id="in-toggle1" name="picture" ng-model="booking.picture">Add picture</ion-toggle> -->
				<div class="button-bar extra-space-top">
					<div class="button-with-title">
						<a ui-sref="menu.home" class="button button-dark  button-block icon ion-android-cancel circle-button"></a>
						<div class="lowerTitle">
							<span class="calm">[</span>
							<span style="color: #000000">
									<b>CANCEL</b>
								</span>
							<span class="calm"> ]</span>
						</div>
					</div>
					<div class="button-with-title">
						<a ng-click="getInfoFromServer()" ng-disabled="!(time.d && time.t && booking.distance)" class="button button-calm  button-block icon ion-paper-airplane circle-button"></a>
						<div class="lowerTitle">
							<span class="calm">[</span>
							<span style="color: #000000">
									<b>DONE</b>
								</span>
							<span class="calm"> ]</span>
						</div>
					</div>
				</div>
			</form>
		</div>
	</ion-content>
</ion-view>
/div>
</form>
</div>
</ion-content>
</ion-view>
view> /div>
</form>
</div>
</ion-content>
</ion-view>
