<ion-view hide-back-button="true" id="page4">
	<ion-nav-title>
		<span class="calm">[</span> LOGIN
		<span class="calm">]</span>
	</ion-nav-title>
	<ion-content class="padding fade-bg">
		<div class="cardLogin">
			<div id="logo-img">
				<!--logo-img-->
			</div>
			<h5 class="lightTitle text-center">
				<span class="calm">[ </span>Log Into your SMARTPARK account<span class="calm"> ]</span>
			</h5>
			<form id="login-form1" class="list">
				<label class="item item-input rounded" id="login-input1">
  					<span class="input-label icon ion-person"></span>
  					<input type="text" placeholder="Email" ng-model="details.email" required="">
        		</label>
				<label class="item item-input rounded" id="login-input2">
      				<span class="input-label icon ion-locked"></span>
      				<input type="password" placeholder="Password" ng-model="details.password" required="">
        		</label>
				<hr />
				<a id="login-button1" class="button button-block rounded stable calm-bg" ng-click="signIn()">Log in</a>
				<div class="lightTitle text-center">
					<span class="calm">[ </span>OR<span class="calm"> ]</span>
				</div>
				<a id="login-button3" class="button button-dark rounded button-block icon ion-social-googleplus" ng-click="googleSignIn()"> </a>
				<a ui-sref="signup" class="small-link calm">Don't have an account yet?!..</a>
			</form>
		</div>
	</ion-content>
</ion-view>
