<ion-view title="LOGIN" hide-nav-bar="true" hide-back-button="true" id="page4">
	<div class="bar bar-header bar-dark">
		<h1 class="title">LOGIN</h1>
	</div>
	<ion-content padding="true" class="manual-ios-statusbar-padding">
		<div class="cardLogin">
			<div id="logoLoginDiv">
				<img src="./img/logo.jpg" class="logoLogin text-center">

			</div>
			<center> <b id="explainationLogIn">Log Into your Smart-Park account</b> </center>
			<form id="login-form1" class="list">
				<ion-list id="login-list2">
					<label class="item item-input" id="login-input1">
          <span class="input-label"><img src="./img/iconPerson.png" width="16px" height="16px"></span>
          <input type="text" placeholder="Email" ng-model="formSignInParams.email.text">
        </label>
					<label class="item item-input" id="login-input2">
          <span class="input-label"><img src="./img/iconkey.png" ></span>
          <input type="password" placeholder="Password" ng-model="formSignInParams.password">
        </label>
				</ion-list>
				<div class="spacer" style="height: 6px;"></div>
				<a id="login-button1" class="button button-stable  button-block" ng-click="signIn()">Log in</a>
				<hr id="hrLog">
				<a id="login-button3" class="button button-positive  button-block icon ion-social-googleplus" ng-click="googleSignIn()"> Login with google</a>
				<a ui-sref="signup" id="login-button2" class="button button-stable  button-block">Or create an account</a>
			</form>
		</div>
		<!-- <div class="bar bar-footer bar-dark">
			<div class="title" id="footeLogin">About &nbsp | &nbsp FeedBack &nbsp | &nbsp Help</div>
		</div> -->
	</ion-content>
</ion-view>
