
<!-- FIXME: all inline style needs to be removed to  css/ionic.app.css -->
<ion-view title="My profile" id="page6">
	<ion-content padding="true" class="has-header maps-bg">
		<div class="list card" id="myProfile-card21" style="background: #f7f6f6">
            <div class="row">
                <div class="col text-center" style="position:relative;">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Default-avatar.jpg" class="user-avatar" alt="">
                    <div>
                        <h3 class="smarties">{{smarties}}</h3>
                        <span class="smarties">Smarties</span>
                    </div>
                    <h1><span class="teal">[</span>{{userName}}<span class="teal">]</span></h1>
                </div>
            </div>
			<ion-item class="item-avatar" id="myProfile-list-item15" style="background: #f7f6f6;">
				<div class="list" style="background: #f7f6f6">
					<label class="item item-input" style="background: #f7f6f6;">
            <span class="input-label"><span style="color: #2dace2">[</span> User Name:</span>
              <input type="text"  ng-model="userName">
            </label>
					<label class="item item-input" style="background: #f7f6f6;">
            <span class="input-label"><span style="color: #2dace2">[</span> Email:</span>
              <input type="text" ng-model="email">
            </label>
					<label class="item item-input" style="background: #f7f6f6;">
            <span class="input-label"><span style="color: #2dace2">[</span> Password:</span>
              <input type="text" ng-model="password">
            </label>
					<label class="item item-input" style="background: #f7f6f6;">
            <span class="input-label"><span style="color: #2dace2">[</span> CarId:</span>
              <input type="text" ng-model="carId">
            </label>
				</div>
			</ion-item>
			<!--  <img src=""> -->
			<!--div class="item item-body" id="myProfile-list-item-container2">
				<div id="myProfile-markdown2" class="show-list-numbers-and-dots">
					<p style="margin-top:0px;color:#000000;">Some friendly
						<strong>markdown</strong>
					</p>
				</div>
			</div-->
		</div>
	</ion-content>
</ion-view>
