<ion-view title="My profile" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="myProfile-card21">
      <ion-item class="item-avatar" id="myProfile-list-item15">
        <h2>John doe</h2>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="myProfile-list-item-container2">
        <div id="myProfile-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left calm" id="myProfile-list-item16">
        <i class="icon ion-model-s"></i>My car</ion-item>
    </div>
  </ion-content>
</ion-view>