<ion-view title="SIGNUP" id="page8">
	<ion-content padding="true" class="has-header">
		<div class="cardSignup">
			<div id="logoLoginDiv">
				<img src="./img/logo.jpg" class="logoLogin">
			</div>
			<form id="signup-form2" class="list">
				<ion-list id="signup-list5">
					<label class="item item-input" id="signup-input3">
          <span class="input-label">Name</span>
          <input type="text" placeholder="" ng-model="formSignupParams.name">
        </label>
					<label class="item item-input" id="emailLogin">
          <span class="input-label">Email</span>
          <input type="text" placeholder="" ng-model="formSignupParams.email.text">
        </label>
					<label class="item item-input" id="signup-input5">
          <span class="input-label">Password</span>
          <input type="password" placeholder="" ng-model="formSignupParams.password">
        </label>
					<label class="item item-input" id="signup-carid">
          <span class="input-label">Car Number</span>
          <input type="text" placeholder="" ng-model="formSignupParams.carId">
        </label>
				</ion-list>
				<a id="signup-button4" class="button button-stable  button-block" ng-click="signUp()">Sign up</a>
			</form>
		</div>
		<div class="bar bar-footer bar-dark">
			<div class="title" id="footeLogin"> <a ui-sref="menu.about">About</a> &nbsp | &nbsp   <a href="mailto:feedback@smartpark.com?Subject=SmartPark%20Feedback">FeedBack</a>  &nbsp | &nbsp <a ui-sref="menu.help">Help</a></div>
		</div>
	</ion-content>
</ion-view>
