<ion-view class="maps-bg">
	<ion-nav-bar class="bar-dark" align-title="center">
		<ion-nav-back-button></ion-nav-back-button>
	</ion-nav-bar>
	<ion-nav-title>
		<span class="calm">[</span> SIGNUP
		<span class="calm">]</span>
	</ion-nav-title>
	<ion-content padding="true" class="has-header fade-bg">
		<div class="cardLogin">
			<div id="logo-img">
				<!--logo-img-->
			</div>
			<h5 class="lightTitle text-center">
				<span class="calm">[ </span>Create your SMARTPARK account<span class="calm"> ]</span>
			</h5>
			<form id="signup-form2" class="list form-tamplate">
				<ion-list id="signup-list5">
					<label class="item item-input top-border-rounded" id="signup-input3">
          				<span class="input-label icon ion-person-add"></span>
          				<input type="text" placeholder="user-name" ng-model="name">
        			</label>
					<label class="item item-input" id="emailLogin">
			          	<span class="input-label icon ion-at"></span>
			          	<input type="text" placeholder="e-mail" ng-model="mail">
			        </label>
					<label class="item item-input" id="signup-input5">
			        	<span class="input-label icon ion-locked"></span>
			        	<input type="password" placeholder="password" ng-model="password">
			        </label>
					<label class="item item-input btm-border-rounded" id="signup-carid">
			        	<span class="input-label icon ion-model-s"></span>
			        	<input type="text" placeholder="car-ID" ng-model="carid">
			        </label>
				</ion-list>
				<a id="signup-button4" class="button button-calm button-block rounded calm-bg stable" ng-disabled="!(name && mail && password && carid)" ng-click="signUp(name, mail, password, carid)">Sign up</a>
			</form>
		</div>
	</ion-content>
</ion-view>
