<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-content padding="false" style="top:0px !important;" class="side-menu-left ">
      <ion-list id="menu-list1">
        <ion-item class="item-avatar item-icon-right calm  bold" id="menu-list-item4" ui-sref="menu.sMARTPARK" menu-close="">
          <h2calm>Hello,
            <p style="white-space:normal;">John Doe</p>
            <i class="icon ion-log-out"></i>
          </h2calm>
        </ion-item>
        <ion-item class="item-icon-left calm" id="menu-list-item5">
          <i class="icon ion-ios-plus-outline"></i>New SMART[PARK]</ion-item>
        <ion-item class="item-icon-left calm" id="menu-list-item6">
          <i class="icon ion-arrow-swap"></i>My History</ion-item>
        <ion-item class="item-icon-left calm" id="menu-list-item7">
          <i class="icon ion-android-notifications-none"></i>Notifications</ion-item>
        <ion-item class="item-icon-left calm" id="menu-list-item8">
          <i class="icon ion-ios-settings"></i>Settings</ion-item>
        <ion-item class="item-icon-left calm" id="menu-list-item9">
          <i class="icon ion-cash"></i>Buy SMARTIES</ion-item>
        <ion-item class="item-icon-left calm" id="menu-list-item19">
          <i class="icon ion-ios-email-outline"></i>Contact Us</ion-item>
        <ion-item class="item-icon-left calm" id="menu-list-item22">
          <i class="icon ion-happy-outline"></i>Feedback</ion-item>
        <ion-item class="item-icon-left calm" id="menu-list-item21">
          <i class="icon ion-ios-help-outline"></i>Help</ion-item>
      </ion-list>
      <div class="spacer" style="width: 268px; height: 19px;"></div>
      <ion-list id="menu-list7">
        <ion-item class="item-icon-left calm" id="menu-list-item20">
          <i class="icon ion-android-share-alt"></i>Invite Friends</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>