<ion-view title="SMARTPARK[Login]" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="sMARTPARKLogin-form3" class="list">
      <ion-list id="sMARTPARKLogin-list9">
        <label class="item item-input" id="sMARTPARKLogin-input14" name="email">
          <span class="input-label">UserName</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="sMARTPARKLogin-input15" name="password">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <ion-checkbox id="sMARTPARKLogin-checkbox5" name="remember">Remember me</ion-checkbox>
      <a href="#">I've lost my password</a>
      <a ui-sref="menu.sMARTPARK" id="sMARTPARKLogin-button31" style="font-weight:500;border-radius:50px 50px 50px 50px;" class="button button-calm  button-block icon ion-log-in">Log in</a>
      <div class="spacer" style="height: 40px;"></div>
      <div id="sMARTPARKLogin-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#CCCCCC;font-size:15px;">---------------- or ----------------</p>
      </div>
      <div id="sMARTPARKLogin-button-bar7" class="button-bar pad">
        <a ui-sref="menu.sMARTPARK" id="sMARTPARKLogin-button38" style="border-radius:50px 50px 50px 50px;" class="button button-assertive  button-block icon ion-social-googleplus"></a>
        <a ui-sref="menu.sMARTPARK" id="sMARTPARKLogin-button39" style="border-radius:50px 50px 50px 50px;" class="button button-positive  button-block icon ion-social-facebook"></a>
      </div>
      <a href-inappbrowser="/signup" id="sMARTPARKLogin-button32" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>