<ion-view title="SMARTPARK[Signup]" id="page8" hide-nav-bar="true">
  <ion-content padding="true" class="has-header">
    <form id="sMARTPARKSignup-form2" class="list">
      <ion-list id="sMARTPARKSignup-list7">
        <label class="item item-input" id="sMARTPARKSignup-input3" name="name">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="sMARTPARKSignup-input4" name="username">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="sMARTPARKSignup-input5" name="pass1">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="sMARTPARKSignup-input6" name="pass2">
          <input type="text" placeholder="Enter password again">
        </label>
      </ion-list>
      <a ui-sref="tabsController.sMARTPARK_tab2" id="sMARTPARKSignup-button3" class="button button-calm  button-block icon ion-compose">Sign up</a>
    </form>
  </ion-content>
</ion-view>
