<ion-view title="SMART[out]" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="sMARTOut-form15" class="list">
      <label class="item item-select" id="sMARTOut-select22" name="date">
        <span class="input-label">Date</span>
        <select>
          <option>today</option>
          <option>tomorrow</option>
        </select>
      </label>
      <label class="item item-select" id="sMARTOut-select23" name="time">
        <span class="input-label">Time</span>
        <select>
          <option>now</option>
          <option>17:00</option>
        </select>
      </label>
      <a ui-sref="tabsController.mapsExample" id="sMARTOut-button26" class="button button-positive button-small button-block icon ion-android-locate"> Locate</a>
      <label class="item item-input" id="sMARTOut-input29" name="street">
        <span class="input-label">Street</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="sMARTOut-input30" name="num">
        <span class="input-label">Number</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="sMARTOut-input31" name="city">
        <span class="input-label">City</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 39px;"></div>
      <h5 id="sMARTOut-heading2" style="color:#11C1F3;font-style:italic;">Optional:</h5>
      <label class="item item-select" id="sMARTOut-select24" name="size">
        <span class="input-label">Size</span>
        <select>
          <option>2 - 3 cubes</option>
          <option>3 - 4 cubes</option>
          <option>4 - 5 cubes</option>
          <option>5 - 6 cubes</option>
          <option>6+ cubes</option>
        </select>
      </label>
      <label class="item item-select" id="sMARTOut-select26" name="repeat">
        <span class="input-label">Repeat</span>
        <select>
          <option>never</option>
          <option>every day</option>
          <option>every week</option>
          <option>every Sun</option>
          <option>every Mon</option>
          <option>every Tue</option>
          <option>every Wed</option>
          <option>every Thu</option>
          <option>every Fri</option>
          <option>every Sat</option>
        </select>
      </label>
      <label class="item item-select" id="sMARTOut-select25" name="repeat">
        <span class="input-label">Max Waiting</span>
        <select>
          <option>1 min</option>
          <option>2 min</option>
          <option>5 min</option>
          <option>7 min</option>
          <option>10+ min</option>
          <option>12+ min</option>
        </select>
      </label>
      <ion-checkbox id="sMARTOut-checkbox15" name="handicap">Handicap</ion-checkbox>
      <label class="item item-input item-stacked-label" id="sMARTOut-input33" name="comments">
        <span class="input-label">Comments</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <div id="sMARTOut-button-bar7" class="button-bar">
      <a ui-sref="tabsController.sMARTPARK" id="sMARTOut-button27" style="font-weight:500;border-radius:50px 50px 50px 50px;" class="button button-dark  button-block icon ion-android-cancel"> Cancel</a>
      <a ui-sref="tabsController.sMARTPARKOut" id="sMARTOut-button28" style="font-weight:500;border-radius:50px 50px 50px 50px;" class="button button-calm  button-block icon ion-paper-airplane"> Send</a>
    </div>
  </ion-content>
</ion-view>