<ion-view title="SMART[in]" id="page2" hide-back-button="true">
  <ion-content padding="true" class="has-header">
    <form id="sMARTIn-form7" class="list">
      <label class="item item-select" id="sMARTIn-select2" name="distance">
        <span class="input-label">Distance</span>
        <select  value="{{smartInForm.distance}}">
          <option>0.1 km</option>
          <option>0.2 km</option>
          <option>0.3 km</option>
          <option>0.4 km</option>
          <option>0.5 km</option>
          <option>0.6 km</option>
          <option>0.7 km</option>
          <option>0.8 km</option>
          <option>0.9 km</option>
          <option>+1 km</option>
          <option>+2 km</option>
        </select>
      </label>
      <label class="item item-select" id="sMARTIn-select14" name="date">
        <span class="input-label">Date</span>
        <select  value="{{smartInForm.date}}">
          <option>today</option>
          <option>tomorrow</option>
        </select>
      </label>
      <label class="item item-select" id="sMARTIn-select15" name="time">
        <span class="input-label">Time</span>
        <select  value="{{smartInForm.street}}">
          <option>now</option>
          <option>17:00</option>
        </select>
      </label>
      <a ui-sref="tabsController.mapsExample" id="sMARTIn-button24" class="button button-positive button-small button-block icon ion-android-locate"> Locate</a>
      <label class="item item-input" id="sMARTIn-input23" name="street">
        <span class="input-label">Street</span>
        <input type="text" placeholder="auto"  value="{{smartInForm.street}}">
      </label>
      <label class="item item-input" id="sMARTIn-input25" name="number">
        <span class="input-label">Number</span>
        <input type="text" placeholder="auto"   value="{{smartInForm.number}}">
      </label>
      <label class="item item-input" id="sMARTIn-input24" name="city">
        <span class="input-label">City</span>
        <input type="text" placeholder="auto"   value="{{smartInForm.city}}">
      </label>
      <label class="item item-input" id="sMARTIn-input24" name="country">
        <span class="input-label">Country</span>
        <input type="text" placeholder="auto" disabled="true"  value="{{smartInForm.country}}">
      </label>
      <div class="spacer" style="width: 300px; height: 39px;"></div>
      <h5 id="sMARTIn-heading1" style="color:#11C1F3;font-style:italic;">Optional:</h5>
      <label class="item item-select" id="sMARTIn-select3" name="size">
        <span class="input-label">Size</span>
        <select ng-model="smartInForm.size" value="{{smartInForm.size}}">
          <option>2 - 3 cubes</option>
          <option>3 - 4 cubes</option>
          <option>4 - 5 cubes</option>
          <option>5 - 6 cubes</option>
          <option>6+ cubes</option>
        </select>
      </label>
      <ion-checkbox id="sMARTIn-checkbox3" name="handicap" ng-model="smartInForm.handicap" value="{{smartInForm.handicap}}">Handicap</ion-checkbox>
      <label class="item item-input item-stacked-label" id="sMARTIn-input32" name="comments">
        <span class="input-label">Comments</span>
        <input type="text" placeholder="Something else? {{$stateParams}}hi" ng-model="smartInForm.comments" value="{{smartInForm.comments}}">

      </label>

        <div id="sMARTIn-button-bar2" class="button-bar">
          <a ui-sref="tabsController.sMARTPARK"  id="sMARTIn-button13" style="font-weight:500;border-radius:50px 50px 50px 50px;" class="button button-dark  button-block icon ion-android-cancel"> Cancel</a>
          <a ng-click="print()" id="sMARTIn-button14" style="font-weight:500;border-radius:50px 50px 50px 50px;" class="button button-calm  button-block icon ion-paper-airplane"> Send</a> <!--ui-sref="tabsController.availableSMARTParks(smartInForm.size)" -->
        </div>
    </form>
  </ion-content>
</ion-view>
